KEYCLOAK_ID=local-dev-client
KEYCLOAK_SECRET=
KEYCLOAK_ISSUER=http://localhost:8080/realms/sparta-logistics
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-key-here
NEXT_PUBLIC_KAKAO_REST_API_KEY=여기에_카카오_REST_API_키를_넣어주세요
