# PostgreSQL
POSTGRES_USER=sparta
POSTGRES_PASSWORD=sparta1234
POSTGRES_DB=sparta_logistics

# Keycloak
# Keycloak이 직접 읽는 환경변수 이름 사용 (KC_ prefix)
KC_DB=postgres
KC_DB_URL=jdbc:postgresql://postgres:5432/keycloak
KC_DB_USERNAME=sparta
KC_DB_PASSWORD=sparta1234
KC_HOSTNAME_STRICT=false
KC_HTTP_ENABLED=true
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin1234

# Redis
REDIS_PASSWORD=redis1234

# Spring 공통
EUREKA_URL=http://eureka-server:8761/eureka/
SPRING_PROFILES_ACTIVE=dev
KEYCLOAK_ISSUER_URI=http://keycloak:8080/realms/sparta-logistics
ZIPKIN_ENDPOINT=http://zipkin:9411/api/v2/spans

# 서비스 공통 DB 자격증명
DB_USERNAME=sparta
DB_PASSWORD=sparta1234

# 서비스별 DB URL (currentSchema만 다름)
USER_DB_URL=jdbc:postgresql://postgres:5432/sparta_logistics?currentSchema=user_db
HUB_DB_URL=jdbc:postgresql://postgres:5432/sparta_logistics?currentSchema=hub_db
COMPANY_DB_URL=jdbc:postgresql://postgres:5432/sparta_logistics?currentSchema=company_db
ORDER_DB_URL=jdbc:postgresql://postgres:5432/sparta_logistics?currentSchema=order_db
SHIPMENT_DB_URL=jdbc:postgresql://postgres:5432/sparta_logistics?currentSchema=shipment_db
NOTIFICATION_DB_URL=jdbc:postgresql://postgres:5432/sparta_logistics?currentSchema=notification_db

# Keycloak Admin API (user-service 전용)
KEYCLOAK_ADMIN_CLIENT_ID=user-service-admin
KEYCLOAK_ADMIN_CLIENT_SECRET=user-service-admin-secret
