<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 테스트 환경에서는 Loki와 Sentry로 로그를 보내지 않고 콘솔에만 출력합니다. -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
